<div th:fragment="footer" id="wrap" style="background-color: #e9e9e9; height: 295px;" >
  <footer>
    <div style="width: 60%; margin:auto; padding-top: 46px;">
      <div style="position: absolute; width: 170px;left: 70vw; top: 69px;">
        <img src="/img/nmt-logo.png" alt="">
      </div>
      <p>
        <span><b>NONMENTOR</b></span><br>
        <span><b>주소 </b>서울특별시 강남구 테헤란로 311 59-12 아남타워 7층</span><br>
        <span><b>Contact</b> johan1103@naver.com</span><br>
        <span><b>MadeBy</b> Team RunningMachine : 김태형, 박재철, 황태호</span>
      </p>
      <br>
      <b>All Rights Reserved.</b>
      <br>
      <br>
      <div class="footer-terms"style="display: flex;">
        <a>
          <div style="padding-left: 0px;">
            서비스 약관
          </div>
        </a>
        <a>
          <div style="border-left: 1px solid black;">
            개인정보 보호
          </div>
        </a>
      </div>
    </div>
  </footer>
</div>
