<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NONMENTOR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link th:href="@{/css/header.css}" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <style>
        #wrap {
            min-height: 35vh;
            position: relative;
            width: 100%;
        }
        footer {
            width: 100%;
            height: 110px;
            /* 내용물에 따라 알맞는 값 설정 */
            bottom: 0px;
            position: absolute;
        }
        .header-menu li {
            width: 20%;
            text-align: center;
            font-size: 18px;
            font-weight: 800;
        }
        .problem-li{
            display: flex;
            height: 45px;
            padding-bottom: 3px;
            margin-top: 20px;
            margin-left: 1%;
        }
        .problem-menu li{
            width: 13%;
            text-align: center;
            font-size: 15px;
            font-weight: 800;
        }
        .active-problem{
            background-color: #0d6efd;
            color: white;
        }
        .nav-pills .show>.nav-link {
            background-color: #0d6efd;
        }
    </style>
</head>
<body>
<!--페이지 최상위 헤더-->
<div th:replace='template/header :: header'>
</div>
    <div class="container" style="margin-left: auto; margin-top: 45px; margin-right: auto;">
        <!-- 문제 제목 -->
        <div style="margin : 20px; margin-bottom: 5px; margin-left: 1%;">
            <h2 th:text="${problem.probTitle}">
                고려대학교 22/인문
            </h2>
        </div>

        <!-- 문제 하위 메뉴-->
        <div class="problem-li" th:insert='template/problemHeader :: problemHeader'>
        </div>

        <div style="height: 3px; margin : 5px 15px 5px 1%; background-color: gray;">
        </div>

        <!-- 문제 개요 (권장 분량, 제출 ,맞힌사람)-->
        <table class="table" id="problem-info" style="margin-right: 1%; margin-left: 1%;
            width: 98%;">
            <thead>
            <tr>
                <th style="width:16%;">권장 분량</th>
                <th style="width:17%;">해결한 사람</th>
                <th style="width:17%;">경쟁률</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${problem.getRecommendedSubmissionSize()}">1 초 </td>
                <td th:text="${problem.getSolvedNum()}">256 MB</td>
                <td th:text="${problem.getCompetetionRate()}">17437</td>
            </tr>
            </tbody>
        </table>

        <div class="content" style="position: relative;">
            <div class="wing" style="margin: 20px; margin-top: 70px;margin-left: 1%;">
                <h4>
                    문제
                </h4>
                <div style="height: 3px; width: 70px;margin : 5px 0px 5px 0px; background-color: #0d6efd;">
                </div>
            </div>
            <div>
                <div style="width: 703px; background-color: #d9d9d9; padding: 20px; border-radius: 10px; margin-left: 1%"
                     th:insert='${problem.probText} :: problem'>
                </div>
            </div>
            <!-- 답안지 블럭 -->
            <div id="ansBlock" class="wing2" style="border-radius: 4px; border: 3px solid; position : absolute;
                right: 50px;
                top: 8px;
                height: 500px;
                width: 450px;
                background-color: rgba(250, 250, 250, 1);
                text-align: left;
                ">
                <h3 style="margin: 8px; border-bottom: solid 2px #0d6efd;">
                    답안지 제출
                </h3>
                <div>
                    <div style="width: 90%; height: 400px; background-color: #d9d9d9;
                        margin:auto;">
                            <textarea id="text-content" rows=5 value={text}
                                      style="width: 100%;height: 100%; border: none; resize: none;"></textarea>
                    </div>
                    <div href="#" id="submit-btn" style="position: absolute; background-color: #0d6efd; color: white;
                        right: 20px; bottom: 10px; text-align: center; width: 20%; border-radius: 3px;">
                        제출
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 작성 -->
    <div id='wrap' style="background-color: #e9e9e9; margin-top: 20%;">
        <section>
            <!-- 대충 뭐 요소들이 가득차있음 -->
        </section>
        <footer>
            <nav>
                <a href='https://github.com/johan1103' target='_blank'>Github</a>
            </nav>
            <p>
                <span>저자 : 김태형</span><br />
                <span>이메일 : johan1103@naver.com</span><br />
                <span>johan1103 2022. johan1103. All Rights Reserved.</span>
            </p>
        </footer>
    </div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

<script>
    const content = document.querySelector('.content');
    const wing = document.querySelector('.wing');
    const $wing2 = document.getElementsByClassName('wing2');
    const $submit_btn = document.getElementById('submit-btn');
    const problemId = [[${problem.id}]];
    const $ansBlock = document.getElementById('ansBlock');
    var submitForm={
        text : ""
    };

    // 컨텐츠 영역부터 브라우저 최상단까지의 길이 구하기
    const contentTop = content.getBoundingClientRect().top + window.scrollY;
    const ansBlockLoc=content.getBoundingClientRect();

    window.addEventListener('scroll', function () {
        if (window.scrollY >= contentTop) {
            wing.classList.add('fixed');
            $wing2[0].style.position = 'fixed';
            $wing2[0].style.right = '115px';
            $wing2[0].style.top = '8px';
            if (window.scrollY > 1023) {
                wing.classList.remove('fixed');
                $wing2[0].style.position = 'absolute';
                $wing2[0].style.right = '43px';
                $wing2[0].style.top = '634px';
            }
        } else {
            wing.classList.remove('fixed');
            $wing2[0].style.position = 'absolute';
            $wing2[0].style.right = '43px';
            $wing2[0].style.top = '8px';
        }
    });
    var cnt=0;
    $submit_btn.addEventListener("click", function () {
        //submitForm.text=document.getElementById("text-content").innerText;
        //post_to_url("/submitGradeSheet?problemId="+problemId,submitForm,"post");
        //post_to_url2("/submitGradeSheet?problemId="+problemId);
        cnt+=1;
        if(cnt<=1) {
            submitForm.text = document.getElementById("text-content").value;
            post_to_url3("/submitGradeSheet?problemId=" + problemId, submitForm);
        }
    });
    function post_to_url3(url,data){
        fetch(url, {
            method: 'post', // Default is 'get'
            body: JSON.stringify(data),
            mode: 'cors',
            headers: new Headers({
                'Content-Type': 'application/json'
            })
        })
            .then(response => response.text())
            .then(text => {
               window.location.href = "/problem/user-solved-list?problemId="+problemId;
            });
    }

    var problemHeader = document.getElementById("problem-solve");
    problemHeader.classList.add('active-problem');
</script>
</html>