img {
    height: auto;
    max-width: 100%;
}
a { text-decoration:none }

.header {
    display: flex;
    border-bottom: solid 2px black;
    padding-top: 15px;
    height: 72px;
    padding-bottom: 3px;
}

.header-logo {
    text-align: center;
    padding-top: 11px;
    padding-left: 1vw;
    position: absolute;
}

.header-menu li {
    text-align: center;
    font-size: 133%;
    font-weight: 800;
    padding-left: 50px;
}



.login-btn a:hover{
    background-color: #0078ff;
    color: white;
}

.container{
    width:90vw;
    max-width: none;
    margin-left: auto;
    padding-top: 45px;
    margin-right: auto;
}