<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="copy">
    copy template
</footer>
<div th:fragment="problem">
    <div>【논제】 (가)를 바탕으로 (나)∼(마)에서 밑줄 친 주체들을 두 유형으로 분류하고, 각 주체에 나타난 행동 특성을 요약하시오. (350자 내외)<br>
        <br>
        (가)<br>
        1860년 러시아의 소설가 이반 투르게네프는 인물의 유형에는 ‘햄릿형’과 ‘돈키호테형’이 있다고 분석했다. 햄릿형은 행동에 따른 위험과 그로 인한 불안감 때문에 사색에 몰두하거나 다양한 가능성을
        타진하는 인물이다. 다시 말해 쉽게 행동하지 않고 신중하게 접근하는 사람을 일컫는다. 이에 반해 돈키호테형은 결과에 대한 불확실성과 그에 따른 위험을 감수하면서도 과감하게 도전 하는 사람을 일컫는다.<br>
        <br>


        <span style="float:right;">- 고등학교 교과서『문학』, 한국경제(2016. 5. 6) 재구성</span><br>
        (나)<br>
        <div style="display: flex;">
            <img src="/img/Problem(8-1)/image1.png" style="width: 30%; height: 250px;">
            <div style="padding-left: 10px;">
                <b style="text-decoration:underline;">피카소</b>는 현대미술의 새로운 영역을 개척한 선구자이며 미술사 를 통틀어 가장 카리스마 넘치는 화가로 손꼽힌다.
                그는 이미 엄청난 가격에 그림을 팔 수 있었던 블루칩 화가였지만, 안주했다 고 느끼는 순간 모험을 감행하면서 새로운 영역에 도전했다.
                일반적으로 고객들은 익숙한 것에 끌리기 때문에 생소한 형식 혹은 실험성이 강한 그림은 미술시장에서 환영받지 못한다.
                그럼에도 불구하고 피카소는 당시에 잘 팔리던 그림을 스스로 포기하고 기존의 미술 전통에서 벗어난 입체적이고
                기하학적인 형태의 실험 적인 작품에 과감하게 도전했다.
            </div>
        </div>
        <span style="float:right;">- 고등학교 교과서『미술』, 매일경제(2010. 7. 9), 조선일보(2015. 2. 14) 재구성</span><br>


        <br>
        (다)<br>
        <div>
            여진족이 북방 변경을 계속 침공하자, 선조가 조정의 고위 신료에게 방책을 아뢰도록 하였다.
            이에 서애 유성룡이 다음과 같은 자질을 지닌 <b style="text-decoration:underline;">장수</b>를 변경에 파견하여 방어할 계책을 올렸다.<br>
            “첫째, 화(禍)의 근원을 막는 것입니다. 오랑캐가 비록 어리석고 우둔하지만 마음으로는 시비를 가릴 줄 아니,
            변경의 장수가 청렴하고 신중하다는 소문을 들으면 이마를 조아릴 것이지만, 포악 하고 탐욕하다는 소문을 들으면 침을 뱉을 것입니다.
            무장 가운데 청렴하고 신중한 사람을 천거 받아 변경에 장수로 파견하고, 비리를 저지르면 천거한 사람까지 벌하소서.<br>
            둘째, 장수가 방비를 튼튼히 하고 공격과 수비를 신중하게 결정하는 것입니다. 먼저 방어시설을 튼튼히 하고 대비책을 잘 세워
            적이 감히 침범할 수 없게 해야 합니다. 그런 다음 장수가 형세 를 세밀하게 살피고 대응책을 마련하여, 승산이 있으면 공격하고,
            형세가 어려우면 중단하면 됩니다.<br>
            셋째, 장수가 적의 실정을 잘 살펴 기미(機微)*에 맞게 신중하게 대처하는 것입니다. 옛날 장수
            들은 방략을 세우고 적의 정세를 잘 살펴 대처했기 때문에 군사를 동원하면 이롭지 않은 적이 없었습니다.
            그렇지 않으면 출동해야 할 때 정지하고 정지해야 할 때 출동하게 되니,
            장님이 눈 먼 말을 타고 한밤중에 깊은 연못에 이르는 것처럼 매우 위험할 것입니다.”<br>
            * 기미(機微) : 어떤 일이 일어나거나 성사될 수 있는 분위기<br>
        </div>
        <span style="float:right;">- 『서애선생문집』제14권 재구성</span><br>

        <br>
        (라)<br>
        <div>
            <b style="text-decoration: underline;">나</b>의 말을 들은 실뱅은 “저기로 뛰어들겠다고? 이봐, 굉장한 장소를 골랐군. 난 안 할래. 나도
            탈출은 하고 싶지만 자살하고 싶은 생각은 없어.”라고 무척 놀란 듯 말했다. 그는 사흘 전에 디 아블*에 도착했고,
            당연히 나는 그에게 함께 떠나자고 제안했다. 각자 하나씩 올라타고, 만일 그 가 제안을 받아들인다면
            그랑테르에서 다음 탈출을 준비할 동지가 생기는 것이다.<br>
            (중략)<br> 나와 실뱅은 파도가 부서지는 순간에 몸을 날렸고, 리제트는 서로 나란히 붙어 있는 두 뗏목을 현기증이 날 정도의 속도로 바다를 향해 뿜어냈다.
            채 5분도 못 되어 우리는 해안에서 300미터 는 떨어졌다. 실뱅은 아직 뗏목에 올라앉지 못했다. 나는 곧바로 올라앉았다.<br>
            (중략)<br> 우리는 그 깊고 높은 파도와 함께 오르락내리락하면서 무사히 드넓은 바다에 들어섰다. <br> * 디아블 : 주인공이 수용된 악마의 섬
        </div>
        <span style="float:right;">- 앙리 샤리에르 저, 문신원 역,『빠삐용』재구성</span><br>

        <br>
        (마)<br>
        <div>
            우리나라의 글로벌 경쟁력이 최근 들어 약해지고 있습니다.
            왜 그럴까요? 제 개인적인 생각을 말씀드리겠습니다.
            우리 기업들에게는 실패를 용인하지 않는 풍조가 만연해 있습니다. 그렇다 보니 <b style="text-decoration: underline;">리더들</b>
            이 실패하지 않기 위한 의사결정을 합니다. 해외 법인에서도 리더들은 현지 책임자로서 주도적 역할을 수행해야 하지만,
            본사로부터 “앞서 나가지 마라”라는 꾸지람을 들을까 봐 “본사 와 논의해 보겠습니다”라는 식으로 의사결정을 미루거나 신속한 집행을 회피합니다.
            이러한 분위 기야말로 글로벌 경쟁에서 우리 기업들이 뒤처지는 원인이 되고 있습니다.
            시급성을 깨닫지 못하 고 지나치게 신중하다 보니 요즘처럼 급변하는 사업 환경에서 타이밍을 놓치는 경우가 많습니다.
            그 결과, 해외 기업들에게 선두를 내주고 시장에서 조금씩 밀려나는 것입니다.
        </div>
        <span style="float:right;">- 아사이 고이치 저, 임해성 역,『1만 명 리더의 고민』재구성</span><br>

        <br>
        <br>
        <span style="float:right;">출처 : 2022학년도 한국외국어대학교 논술고사[인문계]</span><br>
    </div>
</div>
</html>