<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="problem">
  <div>
    [논제] 제시문 (가)의 관점을 바탕으로 제시문 (나)~(라)를 분석하여 설명하시오.(800±100자)
    <br>
    <br>
    <b>제시문 (가)</b>
    <br>
    사람들은 흔히 세상의 모든 부조리와 불평등의 근원은 약육강식과 적자생존의 원리라고
    생각하며 그 근거로 진화론을 꼽는다. 그러나 이는 사실과 다르다. 다윈은 생물체의 변이가
    쌓여 점차 환경에 더 잘 적응된 방식으로 변화한다고 생각했지만, ‘더 잘 적응한 방식’이 오로지
    ‘한 가지 방식’뿐이라고 말한 적은 없다. 또한『종의 기원』 어디에서도 약 한 것이 강한 것보다 열등하며, 강자가 약자를 짓밟아도 좋다고 말하지 않았다.
    <br>
    다윈의 진화론과 관련하여 유명한 것이 바로
    ‘다윈 핀치’라는 별명으로 잘 알려진 갈라 파고스 핀치에 관한 연구이다. 1835년 9월,
    남아메리카 에콰도르의 서쪽 해안에서 1,000 킬로미터 떨어진 곳에 있는 갈라파고스 제도에 도착한
    다윈은 이 섬에 서식하는 핀치를 통해 흥미로운 사실을 발견했다. 갈라파고스 제도에는 모두 13종의 핀치가 서식하는데,
    이들은 크기나 습성 등은 비슷하지만 부리의 모양은 천차만별이었다. 이들 핀치는 저마 다 독특한 부리 모양을 가지고 있는데,
    그 모양은 그들이 주로 먹는 먹이와 관련이 있었 다. 예를 들어, 나무껍질 안쪽에 숨어 있는 벌레를 잡아먹는 핀치는
    단단한 나무껍질 속 에 부리를 밀어 넣고 벌레를 찍어 올리기에 유리한 긴 주삿바늘처럼 생긴 부리를 가지 고 있고,
    견과류나 씨앗을 주식으로 삼는 핀치는 단단한 껍질을 부술 수 있는 튼튼하고 강한 지렛대 모양의 부리를 가지고 있었다.
    갈라파고스 제도에 사는 13종의 핀치는 모두 부리의 모양이 달랐고, 그 부리들만큼이나 그들의 먹잇감도 달랐다.
    <br>
    다윈은 다양한 핀치의 부리 모양과 먹이의 관계를 관찰한 결과,
    13종의 핀치는 원래 하나의 종이었으나 오랜 세월 저마다 처한 환경에서 가장 능률적으로
    구할 수 있는 먹잇감을 찾는 동안 다양하게 변화해 왔을 것이라고 생각했다. 여기서 흥미로운
    것은 시간의 흐름에 따라 핀치들이 하나의 우수한 종으로 통합되는 쪽이 아니라, 여러 개의
    다양한 종으로 쪼개졌다는 것이다. 또한 이들의 먹잇감이 구하기 쉽고 찾기 쉬운 한 종류로
    모이지 않고, 다양하게 세분되었다는 점 역시 주목할 만하다. 만약 13종의 핀치가 모두 한 가지
    먹잇감에만 집착했다면 어땠을까? 아마 먹잇감이 부족해져 갈라파고스 제도에 사는 핀치의 수는 훨씬
    적었을 것이다. 그러나 13종의 핀치는 각자 처한 환경에 따라 작은 곤충, 큰 곤충,
    날아다니는 곤충, 나무껍질 안쪽에 숨어 있는 곤충, 딱딱한 씨앗과 부드러운
    열매 등 종마다 다양한 먹잇감을 택하는 전략을 취했다. 그래서 같은 먹이 사슬 안에서
    종끼리 경쟁할 필요 없이 제한된 서식지 안에서 더 많은 수의 핀치가 살아갈 수 있었다.
    <br>
    <b>제시문 (나)</b>
    <br>
    (나-1)
    <br>
    “네. 아이가 둘 있었지만, 여기서는 도저히 살 수가 없다고 했어요. 이혼을 했는지 안
    했는지는 잘 모르겠지만요, 그 친구, 귀화*하고 나서 더 힘들어했던건 확실해요. 회사에서 진급하는 데도 외국인으로 분류하더래요. 나는 당당히 한국 사람이다, 라고 주장했지만, 한국인 직원들이
    따르지 않을 거라면서 진급에 누, 누락시켰대요. 아내 친정집에서도 외톨이고, 시장을 가도 가난뱅이 네파리 놈, 소리까지 듣구요, 그러니까 더 견딜 수 없었 겠지요. 네팔로 가기 전에 나보고 그래요.
    여기선 귀화 아무 소용도 없다, 껍데기를 다 벗겨서 한국 사람 껍데기로 바꾸기 전엔 아무도 한국 사람 취급 안 한다, 그러니 귀화하 려면 차라리 껍데기 바꿀 길을 찾아봐라, 하고 말예요. 한국 사람들
    진짜 지독해요. 색깔 대로 점수 매겨요. 같은 네팔 사람 중에서도 그 친구 유난히 얼굴색 검었는데요, 항상 그게 문제였어요. 얼굴색으로 등급 다르게 쳐요. 여기선요.”
    “안 그런 한국 사람도 많아.” 로리가 내 눈치를 살피며 말했다.
    <br>
    <br>
    (나-2)
    <br>
    쿤**은 지금 리바이스 청바지에 나이키 점퍼를 입고 있다. 동대문시장에서 산 짝퉁이지
    만 제법 그럴듯해 보인다. 그는 이목구비가 뚜렷하고 피부가 흰 아르레족(네팔의 여러 부족 중 하나로 아리안계에 속함)이라 머리를 노랗게 염색하니 얼핏 미국 사람처럼 보인 다. 하긴 일부러 그렇게
    보이려고 염색을 했을 테지만. 언젠가 명동에 다녀온 그가 입술 을 비틀며 말했다. “한국 사람들은 단일민족이라 외국인한테 거부감을 갖는다고? 그래서 이주 노동자들한테 불친절한 거라고? 웃기는 소리 마.
    미국 사람 앞에서는 안 그래. 친절 하다 못해 비굴할 정도지. 너도 얼굴만 좀 하얗다면 미국 사람처럼 보일 텐데.......”
    <br>
    <br>
    * 귀화: 다른 나라의 국적을 얻어 그 나라의 국민이 되는 일
    <br>
    ** 쿤: 25세의 네팔인으로 4년째 한국 알루미늄 공장에서 일하고 있는 이주 노동자
    <br>
    <b>제시문 (다)</b>
    <br>
    근대에는 단순히 대립하는 두 범주가 있을 뿐 아니라 그 사이에 철저한 위계가 존재한다.
    이성/감성, 정신/육체, 문명/자연, 제국/식민지, 남성/여성, 백인/유색인, 중심/주변 등이 그러하다. 이 범주들에서 전자가 후자에 비해 더 우월하며, 전자가 후자를 지배한다. 후자는 전자가 되길
    원하지만 결코 될 수 없다. 이는 전자에 대한 후자의 저항을 유발한 다. 이런 이분법적 범주들 어디에도 속하지 못하는 잡종(雜種, hybrid)은 존재한다는 이유 만으로도 양분화된 체계에 위험한
    존재이고, 배척의 대상이 된다. 제국/식민지, 제1세계/ 제3세계, 개발/저개발, 중심/주변과 같은 공고한 이분법적인 범주로는 북미나 유럽에 사 는 교포 2세들의 존재를 설명하는 데에 한계가 있다.
    왜냐하면 그들이 서구 사회에 존재 한다는 사실 자체가 바로 서구 중심의 이분법적 대립 구도인 서구/비서구, 백인/유색인 의 뿌리 깊은 인종주의에 균열을 내기 때문이다. 또한 육체나 심성이 여자 같은
    남자나 남자 같은 여자가 터부의 대상으로 여겨져 온 것도 같은 맥락에서이다.
    <br>
    <b>제시문 (라)</b>
    <br>
    유행은 선도 집단을 모방한다는
    측면에서 그것을 좇는 사람에게는 사회화의 욕구를 충족시킨다.
    다시 말해 유행은 개인을 누구나 다 가는 길로 안내한다. 따라서 모방은 새로 움을 추구하는데 드는 비용을 줄여 준다.
    모방은 이미 검증이 완료된 내용이 주어져 있기 때문에 개인이 창조적 노력을
    크게 기울이지 않고도 쉽고 순조롭게 자신의 ‘개성’을 발휘하는 수단이 될 수 있다. 모방은
    그것을 따르는 이들에게 자신이 혼자가 아니라는 안도감을 선사한다. 즉, 모방이란 측면에서 유행은 집단이 개인에게 특정한 행위
    양식을 전수해 줌으로써 선택의 고통과 비용, 선택에 대한 개인적 책임감으로부터 개인을 해방시켜
    주면서 동시에 그 유행에 동참하는 집단의 내부자로 그가 존립할 수 있게 해 주는 일종의 장치가 된다.
    그러나 유행은 동참자가 많아지는 순간, 더는 ‘개성’의 표현이 되지 못한다. 독특하고 강렬한 매력을 지닌 유행일수록 전파력이 크고, 또 그만큼 신속하고
    철저하게 그 본래적 의미를 소실하게 된다. 이 때문에 유행은 발생 초기에는 공유자들 간에 구심력을 발휘해 사회화에 성공하면서 차별화를 드러내는 ‘개성’의 표현이 된다. 하 지만 유행을 좇는 사람들이
    많은 사회는 결국 쉽사리 몰개성적인 사회, 획일화된 사회가 될 수 있을 것이다.
    <div style="float: right;">
      출처 : 2021학년도 홍익대학교 논술고사
    </div>
    <br>
  </div>
</div>
</html>