<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="copy">
  copy template
</footer>
<div th:fragment="problem">
  <div>
    [논제] 제시문 (가)와 (나)의 내용을 요약하고, 논지의 차이를 서술하시오. (601~700자)
    <br>
    <br>
    <div>
      (가) 개인은 흔히 정부나 기업의 감시 대상이고,
      역학 관계에서 그들에게 속절없이 밀리기 십 상이다. 자신의 정보가 불법 수집, 분석
      , 저장, 공유되고 있다고 하더라도 그 사실 자체를 모 르거나 알게 된다고 해도 속수무책이다.
      우리는 권력 기관이 감시의 수준을 높이더라도 그것 이 직접 체감할 수 있는 침해의 형태로 나타나지 않는다면
      별로 문제 삼지 않는다. ‘정부든 누구든 감시하면 어때? 나는 아무것도 잘못한 게 없으니 괜찮아.’
      라는 반응을 보일 것이다. 그러나 IT 보안 전문가 브루스 슈나이어는 다른 관점을 제시한다.
      화장실에 갈 때, 샤워를 하 며 노래를 부를 때, 우리는 무슨 잘못을 저지르는 게 아니다. 직장 상사
      모르게 다른 일자리 를 찾거나, 홀로 명상을 위해 은밀한 장소를 찾는 행위도 잘못이라고 볼 수 없다.
      죄를 짓는 것은 더더욱 아니다. 프라이버시는 주어진 장소와 상황, 맥락에 맞는 페르소나*를 발현할 수 있게 해 준다.
      페르소나는 가정에서, 일터에서, 공공장소에서 저마다 다르게 나타난다. 만나 는 사람에 따라 변별적으로 작동된다.
      그렇다면 프라이버시는 우리 각자의 인격과 사회적 얼 굴을 보장하는 ‘인권’이다.
      <br>
      그런데 누군가가 우리를 지켜보고 있다는 것을 깨닫는 순간, 주변에 설치된 감시 카메라를 인식하는 순간,
      우리는 다른 사람이 된다. 우리 자신이 아닌 다른 사람으로 가장하고 연기한 다. 말과 행동에 의도적 제약을 가하게 된다.
      표현의 자유를 간접적으로 위축시키는 이른바 ‘냉각 효과(chilling effect)’이다. 프라이버시의 참뜻을 이해한다면,
      잘못한 게 없어도 프라이 버시의 필요성을 깨닫게 된다. 이 지점에서 일상의 디지털 환경에 대한 새로운
      시각이 요구 된다. 우리는 지금도 인터넷과 스마트폰, 소셜 미디어를 통해, 웨어러블 컴퓨터와 집 안의
      ‘사물인터넷’을 통해 온갖 정보를 공유하며 또 공개하고 있다.
      <br>
      -----------------------------------------------------------------
      <br>
      * 페르소나(persona): 우리가 외부로 표현하는 개인의 이상적 측면. 개인이 자신의 역할을 안전하게 수행하면서 주변 세계와 상호 관계를 맺는 데 요청됨.
      <br>
      <br>
      (나) 푸코는 원형 감옥 파놉티콘(panopticon)
      모델을 한 사람의 권력자가 만인을 감시하는 현대 정보사회의 상징으로 읽는다.
      파놉티콘에는 바깥쪽으로 원주를 따라 죄수를 가두는 방 이 있다. 중앙의 원형 공간에는 간수가 위치하는데,
      그는 죄수의 일거수일투족을 감시할 수 있다. 파놉티콘의 구조적 특징으로 인해 죄수는 자신을 감시할 수
      있는 간수의 시선을 의식 하고, 그 시선 규율을 벗어나는 행동을 자제하게 된다. 그런데 사회학자 보인은 최근
      사회적 질서가 바뀌었다고 말한다. 감시보다는 대비와 예방에 초점을 둔 사회, 감시의 쌍방향성이
      나타나는 탈파놉티시즘 사회가 되었다는 것이다.
      <br>
      오늘날 인터넷과 같은 쌍방향 분산 네트워크는 큰 변화를 야기하고 있다.
      이제 “빅 브라더 가 당신을 감시하고 있다.”라는 전통적인 주장은 “바로 당신이 감시하는 빅 브라더이다.”
      라는 말로 대체된다. 시민과 다양한 NGO들에 의한 정부 권력 감시, 기업의 개인 정보 유출에 대 한 감시,
      의정과 언론에 대한 감시, 그리고 정보 공개권의 확보 등이 가능해지면서 역감시 기제의 작동이 활발해지고 있다.
      기업의 소비자 정보 수집도 피감시자의 자발적인 실천과 협 조를 거치곤 한다. 특히 쌍방향 네트워크의 발전으로
      정보 공개도 투명해지고 있다. 이로써 다수의 보통 사람들이 소수의 권력자를 감시하는 시놉티콘(synopticon)
      모델이 나타나고 있 다. 시놉티콘은 권력자와 대중이 동시에 서로를 감시하는 체계다. 사회학자 라이언이 지적했 듯이,
      감시는 ‘야누스의 두 얼굴’을 가지고 있다.
    </div>
    <div style="float: right;">
      출처 : 2021학년도 경희대학교 논술고사[인문계]
    </div>
    <br>
  </div>

</html>