<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="problem">
    <div>
        [논제] (가)는 2017년에서 2020년까지의 모바일 앱마켓 시장점유율의 변화를 보여주고 있다.
         (가)를 분석한 후, (나)를 (가)에 적용하여 핸드폰 단말기 OS를 생산하는 A사와 C사의 
         시장점유 율 변화 이유를 추론하시오. (540~660자)
        <br>
        <br>
        <div>
            <b>(가) 모바일 앱마켓 시장점유율의 변화</b>
            <br>
            <img src="/img/problem/problem21/image2.png" style="height: 250px;">
            <br>
            <br>

        </div>
        <b>(나)</b>
         디지털 경제 환경에서는 양면시장의 특징을 갖는 
         플랫폼 개방유무가 사업 성패의 중요한 변수가 된다. 핸드폰 단말기 운영체제(OS) 제조사인
          H의 경우, 이전에는 외부 앱 (App) 개발자에게 OS를 개방하지 않고 폐쇄형 플랫폼(closed platform)을
           유지하고 있었 다. 이것은 H사가 생산하는 운영체제에 자사의 앱만을 추가할 수 있는 것인데, 
           이것 때 문에 네트워크 효과*가 떨어지는 결과가 나타났다. 그래서 H사는 플랫폼을 개방했고, 
           더 많은 데이터를 확보할 수 있게 되면서 엄청난 혁신과 성장의 기반을 마련할 수 있었다. 
           위의 사례가 보여주듯이, 기업이 다수에게 플랫폼을 개방하면 새로운 수익 기회를 만들어 낼 수 있다.
            실제로, 네트워크 효과를 기반으로 하는 이러한 개방형 플랫폼은 H사의 매출 증가와 수익 창출을 가져왔으며,
             모바일 앱마켓 시장점유율을 높이는데 중요한 역 할을 하였다. 개방형 플랫폼(open platform)은 
             폐쇄형 플랫폼보다 긍정적인 성과를 가져 다준다.
        <br>
        <br>
        * 네트워크 효과 : 특정 재화나 서비스에 대한 사용자의 수요가 다른 사용자의 수요에 영향을 주는 효과
        <br>
        <br>
        <div style="float: right;">
            - 『머신, 플랫폼, 크라우드』, 『고등학교 독서』 교과서 재구성
        </div>
        <br>
        <br>
        <div style="float: right;">
            출처 : 2021학년도 한국외국어대학교 논술고사
        </div>
        <br>
    </div>

</html>