<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="problem">
  <div>
    【논제】 (가)를 바탕으로 (나) ~ (바)에 나타난 상황을 두 유형으로 분류하고 각 제시문을 요약하시오. (400자 내외)
    <br>
    <br>
    (가)
    <br>
    최근 코로나19의 백신 기술을 둘러싸고 다양한 논의가 펼쳐지고 있다.
    일부 제약회사와 선진국은 코로나19 백신 개발에 관한 지식정보의 독점적 권리를 강조한다.
    백신 기술에 대한 독점적 권리를 잃고 큰 이윤을 얻을 수 없다면,
    누가 막대한 비용과 시간을 들이며 백신 개발에 나서겠느냐는 것이다. 반면 개발도상국들은 백신 개발 회사의 지적재산권을 일시 해제하거나 공유하여 개발도상국의 제약회사들도 특허 비용을 지불하지 않고 백신을
    생산할 수 있게 해달라고 요구하고 있다. 백신에 대한 지식 정보는 인류가 함께 누려야 할 공공재이기 때문에 공유의 대상이라는 것이다.
    <br>
    <div style="float: right;">
      - 고등학교 교과서『생활과 윤리』, 고등과학원 웹진『호라이즌』재구성
    </div>
    <br>
    <br>
    (나)
    <br>
    <div style="display: flex;">
      <img src="/img/problem/problem23/image1.png" style="width: 30%; height: 250px;">
      <div style="padding-left: 10px;">
        왼쪽 지도는 1402년(조선 태종 2년)에 제작된 "혼일강리
        림
        역대국도지도"이다. 이 지도는 중심부에 중국이 표현되어
        2
        있지만, 우리나라가 다른 지역보다 상대적으로 크게 그려져
        있다. 아울러 당시 우리나라 사람이 가보지 못했을 인도와 아라비아반도, 나아가 유럽과 아프리카 대륙까지 상세하게 그려져 있다. 이 지도는 중국 원나라의 "성교광피도"와 "혼일강리도" 및
        우리나라와 일본의 지도 등 다양한 지리 정보 를 종합하여 그린 것으로 알려져 있다. 원나라 이전에는 동 서 문물교류가 매우 제한적으로 이루어졌다. 반면 원나라를
        중심으로 한 몽골제국이 유라시아 대륙 곳곳을 연결한 도로망을 구축함에 따라 이슬람의 천문학 과 지리학 등이 중국에 전해지고, 중국의 화약과 인쇄술 등이 유럽에 전해지는 등 동서 문물교
        류가 활발하게 이루어졌다. 종전에 비해 동서양의 지식정보 공유가 활발하게 이루어진 것인데, "성교광피도"도 이때 전해진 이슬람 지도를 바탕으로 그려진 세계지도이다. 결국 "혼일강리역대
        국도지도"는 몽골제국 시기에 들어와 더욱 활발해진 동서 문물교류와 그에 따른 지식정보 공유 를 바탕으로 탄생했다고 할 수 있다.
      </div>
    </div>
    <br>
    <div style="float: right;">
      - 고등학교 교과서『생활과 윤리』, 고등과학원 웹진『호라이즌』재구성
    </div>
    <br>
    <br>
    (다)
    <br>
    <img src="/img/problem/problem23/image2.png" style="width: 60%; height: 300px;">
    <br>
    <br>
    (라)
    <br>
    자, 내가 보고 싶은 서책은, 당신이 거기에서 읽어 보고는 훔쳐서 이곳으로 가져왔고, 당신은 읽었으면서도 다른 수도사에게는 읽지 못하게 했고, 여기에다 감추어 두었고, 남들에게 죽어라고 읽히지
    않으면서도 죽어도 파기는 못하겠다고 버티어 온 그 서책입니다. 암, 파기하지 못하고말고요, 당신은 서책을 파기할 위인이 못 되니까요. 더 정확하게 말하면 내가 보고 싶은 책은
    아리스토텔레스의『시학』제 2권...... 세상이 소실되었다고 믿거나 아예 쓰이지도 않았다고 믿는 책...... 어쩌면 이 세상에서 한 권밖에 남지 않았을지도 모르는 당신의 소장품, 바로 그겁니다.
    <br>
    (중략)
    <br>
    그것은 아리스토텔레스에 의한 것이었기 때문이오. 아리스토텔레스의 서책은 하나같이 기독교가 수세기에 걸쳐 축적했던 지식의 일부를 먹어 들어갔소.
    우리의 초대 교부들은 일찍이, 말씀의 권능을 깨치는데 필요한 가르침을 모자람 없이 베푸셨소. 한데 보에티우스라는 자가 이 철학자의 서책을 극찬함으로써 하느님 말씀의 신성은 인간의 희문(戱文)으로
    변질되면서 삼단 논법의 희롱 을 받아 왔소.
    "창세기"가 우주 창조의 역사를 모자람 없이 설명하고 있는데도 불구하고 아리스토텔레스는『자연학』에서 이 우주를 무디고
    끈적끈적한 질료로 재구(再構)하였고 아랍인 아베로에스는 세계는 절대로 멸망하지 않는다고 망발했소. 그 말에 거의 다 넘어간 형편이오.
    <br>
    <div style="float: right;">
      - 움베르토 에코 저, 이윤기 역,『장미의 이름』
    </div>
    <br>
    <br>
    (마)
    <br>
    미국의 전기자동차 회사인 테슬라는 2014년 6월 자사가 보유한 전기자동차 관련 특허권을 모두 무료로 공개했다. 250억 달러의 자산 가치가
    있다고 평가되는 테슬라의 특허 기술은 테슬라가 세계 전기자동차 시장에서 우위를 선점하며 경쟁력 있는 제품을 만들 수 있는 기반이었다.
    테슬라가 특허를 개방한 이유로는 전기자동차 기술 발전 및 시장 확대를 들 수 있다. 아직 수요가
    적고 발전 속도가 느린 당시의 전기자동차 시장 상황에서 테슬라는 기술 공유를 통해 다른 기업들과 함께 시장을 개척하여 그 규모를 늘리는 것이 더 중요하다고 판단한 것이다. 마찬가지로 2015년 1월
    일본 도요타자동차는 수소연료전지차 관련 특허권을 모두 무상으로 제공하겠다고 발표했다. 도요타도 독자적인 시장 개척보다 수소연료전지차 시장 전체의 규모를 확대하기 위해 특허 개방을 시행한 것으로
    분석된다.
    <br>
    <div style="float: right;">
      - 『지식재산과 경제발전』(한국지식재산연구원, 2015) 재구성
    </div>
    <br>
    <br>
    (바)
    <br>
    가정용 홈비디오 시장의 태동기에 소니의 베타맥스 방식과 JVC사의 VHS 방식이 경쟁했다. 소니의 베타맥스는 VHS에 비해 출시 시기도 빨랐고, 화질도 우수했을 뿐만 아니라 크기도 30% 정도
    작았다. 이러한 기술적 우수성을 바탕으로 소니는 독자적으로 시장을 키워서 장악하기 위해 다른 회사들에게 기술을 이전하지 않았다. 초기에는 소니의 베타맥스가 홈비디오 시장을 거의 독점하였으나, 얼마
    지나지 않아 시장점유율이 베타맥스 25%, VHS 75%로 역전되었고, 베타맥스는 결국 시장에서 퇴출됐다. 소니는 자신들의 기술적 우수성만 믿고 이익을 독점하기 위해 폐쇄적인 기술 정책을
    고수하다가, 베타맥스 방식의 홈비디오 시장 규모가 VHS 방식에 비해 충분히 커지지 않아 결국 성공하지 못한 것이다.
    <br>
    <br>
    <div style="float: right;">
      - 중앙일보(2017. 2. 26), 전자신문(2013. 9. 25), 파이낸셜뉴스(2016. 7. 11) 재구성
    </div>
    <br>
    <br>
    <br>
    <div style="float: right;">
      출처 : 2022학년도 한국외국어대학교 논술고사[사회계]
    </div>
    <br>
  </div>
</div>

</html>